<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Webpage Title -->
    <title>한눈에 어린이집 정보 조회</title>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="한눈에 어린이집 정보 | 어린이집 검색"/>
    <meta property="og:description" content="우리동내 어린이집을 찾으세요!"/>
    <meta property="og:image" content="{{ url_for('static', filename='images/파일명.확장자') }}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=5uwq7xzrj4&submodules=geocoder"></script>


    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">


    <style type="text/css">
        * {
            font-family: "Do Hyeon", sans-serif;
        }

        h1,
        h5 {
            display: inline;
        }

        .container {
            display: block;
            margin: auto;
        }

        .info {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .review {
            text-align: center;
        }

        .reviews {
            margin-top: 100px;
        }
    </style>
</head>

<body>
<div class="container">

    <div class="wrap">
        <h1>어디 어린이집을 찾고 싶으세요?</h1>
        <div class="input-group mb-3">
            <input id="gu-name" type="text" class="form-control" placeholder="예시) 강남구">
            <div class="input-group-append">
                <button type="button" class="btn btn-success" onclick="findPlace()">찾기</button>
            </div>
        </div>
        <div id="map"></div>

        <div class="matjip-list" id="matjip-box">
        </div>
    </div>

    <img src="https://post-phinf.pstatic.net/MjAxNzA1MDFfNDQg/MDAxNDkzNjQyMjE5MTU0.DxwcqGq8B117pTKNFlW0e957AtkxOrV6SiLUYWLUrTkg.wDmwkTruFNf3tlb5gv2uCFamkYeQKfDLXSIqdFe59gwg.PNG/%EC%96%B4%EB%A6%B0%EC%9D%B4%EC%A7%91_%EC%84%A0%ED%83%9D%ED%95%98%EB%8A%94_%EB%B0%A9%EB%B2%95_%287%29.png?type=w1200"
         class="img-fluid" alt="Responsive image">


    <div class="reviews">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">지역</th>
                <th scope="col">어린이집명</th>
                <th scope="col">유형</th>
                <th scope="col">정원</th>
                <th scope="col">현원</th>
                <th scope="col">주소</th>
            </tr>
            </thead>
            <tbody id="childcare-box">
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $("#childcare-box").html("");
        showInfo('/childcare');
    });


    function isValidGuName(guName) {
        let seoulGu = ["종로구", "중구", "용산구", "성동구", "광진구", "동대문구", "중랑구", "성북구", "강북구", "도봉구", "노원구", "은평구", "서대문구", "마포구", "양천구", "강서구", "구로구", "금천구", "영등포구", "동작구", "관악구", "서초구", "강남구", "송파구", "강동구"];
        for (let i = 0; i < seoulGu.length; i++) {
            if (guName == seoulGu[i]) {
                return true;
            }
        }
        return false;
    }

    // 드랍박스로 선택할 수 있게 만들기

    function findPlace() {
        let guName = $('#gu-name').val();
        if (guName == '') {
            alert('구 이름을 입력하세요!');
            return;
        }
        if (isValidGuName(guName) == false) {
            alert('올바른 구 이름을 입력하세요.');
            return;
        }

        let url = `/search/gu?keyword=${guName}`;
        showInfo(url);
    }

    function showInfo(url) {
        $('#childcare-box').empty();

        // 1. childcare 목록을 서버에 요청하기
        $.ajax({
            type: "GET",
            url: url,
            success: function (response) {
                // 2. 요청 성공 여부 확인하기
                if (response["result"] == "success") {
                    let childcare = response["data"]
                    //3. 요청 성공했을 때 화면에 나타내기
                    for (let i = 0; i < childcare.length; i++) {
                        makeCard(childcare[i]["name"], childcare[i]["gu_name"], childcare[i]["type"], childcare[i]["full_count"],
                            childcare[i]["now_count"], childcare[i]["address"], childcare[i]["map_la"], childcare[i]["map_lo"]);

                        drawMap(childcare);
                    }

                } else {
                    alert("입력값을 가져오지 못했어요");
                }
            }
        })
    }

    function makeCard(name, gu_name, type, full_count, now_count, address, map_la, map_lo) {
        let tempHtml = `<tr>
                                <td>${gu_name}</td>
                                <td>${name}</td>
                                <td>${type}</td>
                                <td>${full_count}</td>
                                <td>${now_count}</td>
                                <td>${address}</td>
                             </tr>`;
        $("#childcare-box").append(tempHtml);

    }

    function drawMap(childcare) {
        let markerList = [];
        let contents = [];
        //let numberOne = new naver.maps.LatLng(childcare[i]['lat'], geoData['lng']),
        //    map = new naver.maps.Map('map', {
        //        center: numberOne,
        //        zoom: 12
        //    }),
        //    marker = new naver.maps.Marker({
        //        position: numberOne,
        //        map: map
        //    });


        for (let i = 0; i < childcare.length; i++) {
            let chilcaremap = childcare[i];
            let position = new naver.maps.LatLng(chilcaremap['map_la'], chilcaremap['map_lo'])
            marker = new naver.maps.Marker({
                position: position,
                map: map
            });

</script>


</body>

</html>