<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<meta property="og:title" content="스파르타코딩클럽 | 맛집 검색" />
		<meta property="og:description" content="중요한 소개팅, 맛집에서 성공하세요!" />
		<meta property="og:image" content="{{ url_for('static', filename='images/파일명.확장자') }}" />
    <title>스파르타코딩클럽 | 맛집 검색</title>
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=YOUR_CLIENT_ID&submodules=geocoder""></script>

    <link rel=" stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        #map {
            width: 700px;
            height: 500px;
            margin: 50px auto 50px auto;
        }

        .wrap {
            width: 700px;
            margin: 10px auto;
        }

        .matjip-list {
            overflow: scroll;
            width: 700px;
            height: 800px;
        }
    </style>

</head>

<body>
    <div class="wrap">
        <h1>오늘 소개팅 어디서 할까?</h1>
        <div class="input-group mb-3">
            <input id="gu-name" type="text" class="form-control" placeholder="예시) 강남구">
            <div class="input-group-append">
                <button type="button" class="btn btn-success" onclick="find_my_best_place()">만남 성공하자!!</button>
            </div>
        </div>
        <div id="map"></div>

        <div class="matjip-list" id="matjip-box">
        </div>
    </div>

    <script>
        let seoulGu = ["종로구", "중구", "용산구", "성동구", "광진구", "동대문구", "중랑구", "성북구", "강북구", "도봉구", "노원구", "은평구", "서대문구", "마포구", "양천구", "강서구", "구로구", "금천구", "영등포구", "동작구", "관악구", "서초구", "강남구", "송파구", "강동구"];

        function isValidGuName(guName) {
            for (let i = 0; i < seoulGu.length; i++) {
                if (guName == seoulGu[i]) {
                    return true;
                }
            }
            return false;
        }

        function getLatLng(mapx, mapy) {
            let x = parseInt(mapx);
            let y = parseInt(mapy);

            let geoInfo = naver.maps.TransCoord.fromTM128ToLatLng(new naver.maps.Point(x, y));
            return { 'lat': geoInfo._lat, 'lng': geoInfo._lng }
        }

        function getMatjipListWithGeoData(matjipList) {

            let result = [];

            for (let i = 0; i < matjipList.length; i++) {
                let matjip = matjipList[i];
                let mapx = matjip['mapx'];
                let mapy = matjip['mapy'];
                let geoData = getLatLng(mapx, mapy);
                matjip['geoData'] = geoData;
                result.push(matjip);
            }

            return result;

        }

        function find_my_best_place() {

            let guName = $('#gu-name').val();
            if (guName == '') {
                alert('구 이름을 입력하세요');
                return;
            }
            if (isValidGuName(guName) == false) {
                alert('올바른 구 이름을 입력하세요');
                return;
            }

            $('#matjip-box').empty();
            $.ajax({
                type: "GET",
                url: `/matjip?gu_give=${guName}`,
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        let matjipList = response['matjip_list'];
                        matjipList = getMatjipListWithGeoData(matjipList);
                        addHTML(matjipList);
                        drawMap(matjipList);
                    } else {
                        alert('검색이 실패하였습니다.');
                    }
                }
            });
        }

        function addHTML(matjipList) {
            for (let i = 0; i < matjipList.length; i++) {
                let tempHtml = makeCard(matjipList[i]);
                $('#matjip-box').append(tempHtml);

            }
        }

        function makeCard(matjip) {
            return `<div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="matjip-title">${matjip['title']}</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">${matjip['category']}</h6>
                        <p class="card-text">${matjip['roadAddress']}</p>
                        <a href="${matjip['link']}" target="_blank" class="card-link">링크</a>
                        <a href="#" class="card-link">${matjip['telephone']}</a>
                    </div>
                    </div>`;
        }

        function drawMap(matjipList) {
            let geoData = matjipList[0]['geoData'];
            let markerList = [];
            let contents = [];
            let numberOne = new naver.maps.LatLng(geoData['lat'], geoData['lng']),
                map = new naver.maps.Map('map', {
                    center: numberOne,
                    zoom: 12
                }),
                marker = new naver.maps.Marker({
                    position: numberOne,
                    map: map
                });


            for (let i = 0; i < matjipList.length; i++) {
                let matjip = matjipList[i];
                let position = new naver.maps.LatLng(matjip['geoData']['lat'], matjip['geoData']['lng'])
                marker = new naver.maps.Marker({
                    position: position,
                    map: map
                });


                let contentString = `<div class="iw_inner">
                                    <h3>${matjip['title']}</h3>
                                    <p>${matjip['address']}<br />
                                        ${matjip['category']}<br />
                                        <a href="${matjip['link']}" target="_blank">링크</a>
                                    </p>
                                    </div>`;

                contents.push(contentString);
                markerList.push(marker);
            }


						const matjipElement = $('.matjip-title');

            for (let i = 0; i < markerList.length; i++) {
                let marker = markerList[i];
                let infowindow = new naver.maps.InfoWindow({
                    content: contents[i],
                    maxWidth: 140,
                    backgroundColor: "#eee",
                    borderColor: "#2db400",
                    borderWidth: 5,
                    anchorSize: new naver.maps.Size(30, 30),
                    anchorSkew: true,
                    anchorColor: "#eee",
                    pixelOffset: new naver.maps.Point(20, -20)
                });
                naver.maps.Event.addListener(marker, "click", function (e) {
                    if (infowindow.getMap()) {
                        infowindow.close();
                    } else {
                        infowindow.open(map, marker);
                    }
                });

                matjipElement[i].addEventListener('click', function (e) {
                    e.preventDefault();
                    console.log('clicked');
                    if (infowindow.getMap()) {
                        infowindow.close();
                    } else {
                        infowindow.open(map, marker);
                    }
                })
            }
        }
    </script>
</body>

</html>